[include mainsail.cfg]
#[include KAMP_Settings.cfg]
[include macros.cfg]
#[include runout.cfg]

# This file contains common pin mappings for MKS Monster8
# boards. To use this config, the firmware should be compiled for the
# stm32f407. When running "make menuconfig", select the 48KiB
# bootloader, and enable "USB for communication".

# The "make flash" command does not work on the MKS Monster8. Instead,
# after running "make", copy the generated "out/klipper.bin" file to a
# file named "mks_monster8.bin" on an SD card or Udisk and then restart the
# MKS Monster8 with that SD card or Udisk.

# See docs/Config_Reference.md for a description of parameters.

[respond]
default_type: echo
#   Sets the default prefix of the "M118" and "RESPOND" output to one
#   of the following:
#       echo: "echo: " (This is the default)
#       command: "// "
#       error: "!! "
default_prefix: echo:
#   Directly sets the default prefix. If present, this value will
#   override the "default_type".


[bltouch]
sensor_pin: ~PB13
control_pin: PA8
x_offset: 20
y_offset: 3
samples: 2
speed: 6
#z_offset: 8


[safe_z_home]
home_xy_position: 155, 150 # Change coordinates to the center of your print bed
speed: 200
z_hop: 10                 # Move up 10mm
z_hop_speed: 10

[bed_mesh]
speed: 110
horizontal_move_z: 5
mesh_min: 38, 14
mesh_max: 275, 285
probe_count: 5, 3
mesh_pps: 2, 3
adaptive_margin: 5
algorithm: bicubic
bicubic_tension: 0.2
move_check_distance: 5
split_delta_z: .025
fade_start: 2
fade_end: 10
fade_target: 0

[stepper_x]
step_pin: PC14
dir_pin: PC13
enable_pin: !PC15
microsteps: 32
rotation_distance: 40
endstop_pin: !PA14  # PA13 for X-max; endstop have'!' is NO
position_endstop: 7
position_min: 7
position_max: 305
homing_speed: 50.0
#   Maximum velocity (in mm/s) of the stepper when homing. The default
#   is 5mm/s.
homing_retract_dist: 8.0
#   Distance to backoff (in mm) before homing a second time during
#   homing. Set this to zero to disable the second home. The default
#   is 5mm.
homing_retract_speed: 10.0
#   Speed to use on the retract move after homing in case this should
#   be different from the homing speed, which is the default for this
#   parameter

[stepper_y]
step_pin: PE5
dir_pin: !PE4
enable_pin: !PC15
microsteps: 32
rotation_distance: 40
endstop_pin: PA15  # PC5 for Y-max; endstop have'!' is NO
position_endstop: -39
position_min: -39
position_max: 305
homing_speed: 50.0
#   Maximum velocity (in mm/s) of the stepper when homing. The default
#   is 5mm/s.
homing_retract_dist: 8.0
#   Distance to backoff (in mm) before homing a second time during
#   homing. Set this to zero to disable the second home. The default
#   is 5mm.
homing_retract_speed: 10.0
#   Speed to use on the retract move after homing in case this should
#   be different from the homing speed, which is the default for this
#   parameter

[stepper_z]
step_pin: PE1
dir_pin: !PE0
enable_pin: !PE2
microsteps: 256
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop #PB13  # PB12 for Z-max; endstop have'!' is NO
#position_endstop: 0
position_min: -5
position_max: 370
homing_speed: 25

[stepper_z1]
step_pin: PD2
dir_pin: !PD1
enable_pin: !PD3
microsteps: 256
rotation_distance: 8
#endstop_pin: !PB13  # PB12 for Z-max; endstop have'!' is NO
#position_endstop: 0
#position_max: 450
#homing_speed: 25

[extruder]
step_pin: PD6
dir_pin: !PD5
enable_pin: !PD7 
microsteps: 32
rotation_distance: 33.500
nozzle_diameter: 0.400
filament_diameter: 1.750
max_extrude_cross_section: 5
instantaneous_corner_velocity: 1.000
#max_extrude_only_distance: 50.0
heater_pin: PB0
sensor_type: Generic 3950
sensor_pin: PC1
#pullup_resistor: 4700
smooth_time: 1.0
#control: pid
#pid_Kp: 9.581
#pid_Ki: 0.303
#pid_Kd: 75.813
min_temp: 0
max_temp: 300

[heater_bed]
heater_pin: PB10
sensor_type: Generic 3950 
sensor_pin: PC0
#pullup_resistor: 4700
smooth_time: 1.0
control: pid
pid_Kp: 58.599
pid_Ki: 2.732
pid_Kd: 314.235
min_temp: 0
max_temp: 150

###############################
### Filament Motion Sensor ####
### https://www.klipper3d.org/Config_Reference.html#filament_motion_sensor ###
###############################
[filament_switch_sensor RunoutSensor]
switch_pin: PA13
pause_on_runout: True #pause handled by macro
runout_gcode: _DEMON_PAUSE
insert_gcode: _DEMON_RESUME


  
##fan for printed model FAN2
#[fan]
#pin: PA0
#max_power: 1.0
#shutdown_speed: 0
#kick_start_time: 0.100
#off_below: 0.0

[fan]
pin: PA0
max_power: 1.0
shutdown_speed: 0
kick_start_time: 0.100
off_below: 0.0

#fan for hotend FAN1
[heater_fan fan1]
pin: PA1
shutdown_speed: 0
max_power: 1.0
cycle_time: 0.010
hardware_pwm: False
kick_start_time: 0.100
off_below: 0.0
#tachometer_pin:
#tachometer_ppr:
#tachometer_poll_interval:
#enable_pin:
#   See the "fan" section for a description of the above parameters.
heater: extruder
#   Name of the config section defining the heater that this fan is
#   associated with. If a comma separated list of heater names is
#   provided here, then the fan will be enabled when any of the given
#   heaters are enabled. The default is "extruder".
heater_temp: 50.0
#   A temperature (in Celsius) that the heater must drop below before
#   the fan is disabled. The default is 50 Celsius.
fan_speed: 1.0
#   The fan speed (expressed as a value from 0.0 to 1.0) that the fan
#   will be set to when its associated heater is enabled. The default
#   is 1.0


[screws_tilt_adjust]
screw1: 8, 43
#   The (X, Y) coordinate of the first bed leveling screw. This is a
#   position to command the nozzle to so that the probe is directly
#   above the bed screw (or as close as possible while still being
#   above the bed). This is the base screw used in calculations. This
#   parameter must be provided.
screw1_name: Front Left Home
#   An arbitrary name for the given screw. This name is displayed when
#   the helper script runs. The default is to use a name based upon
#   the screw XY location.
screw2: 253, 43
screw2_name: Front Right

screw3: 8, 283
screw2_name: Rear Left

screw4: 253, 283
screw2_name: Rear Right
#...
#   Additional bed leveling screws. At least two screws must be
#   defined.
speed: 200
#   The speed (in mm/s) of non-probing moves during the calibration.
#   The default is 50.
horizontal_move_z: 5
#   The height (in mm) that the head should be commanded to move to
#   just prior to starting a probe operation. The default is 5.
screw_thread: CCW-M5
#   The type of screw used for bed leveling, M3, M4, or M5, and the
#   rotation direction of the knob that is used to level the bed.
#   Accepted values: CW-M3, CCW-M3, CW-M4, CCW-M4, CW-M5, CCW-M5.
#   Default value is CW-M3 which most printers use. A clockwise
#   rotation of the knob decreases the gap between the nozzle and the
#   bed. Conversely, a counter-clockwise rotation increases the gap.

#[firmware_retraction]
#retract_length: 10
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
#retract_speed: 20
#   The speed of retraction, in mm/s. The default is 20 mm/s.
#unretract_extra_length: 0
#   The length (in mm) of *additional* filament to add when
#   unretracting.
#unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

#[mcu rpi]  
#serial: /tmp/klipper_host_mcu  

#[adxl345]  
#cs_pin: rpi:None  
#spi_bus: spidev0.2

#[resonance_tester]
#accel_chip: adxl345
#probe_points:
#   150, 150, 150  # an example

[input_shaper]  
shaper_type_x = mzv  
shaper_freq_x = 51.8  
shaper_type_y = zv
shaper_freq_y = 37.5

[mcu]
serial: /dev/serial/by-id/usb-Klipper_stm32f407xx_460037000D50315141323320-if00
restart_method: command

[printer]
kinematics: cartesian
max_velocity: 300
max_accel: 2500
max_z_velocity: 5
max_z_accel: 50

[virtual_sdcard]
path: /home/mks/printer_data/gcodes

[display_status]

[exclude_object]

[force_move]
enable_force_move: True

[idle_timeout]
gcode:
    _DEMON_IDLE_TIMEOUT
timeout: 3600

[respond]



    
#####################################################################
# LED Control
#####################################################################

#[output_pin caselight ](Use PA9)
##  Chamber Lighting - In 5V-RGB Position
#pin: PA9
#pwm: true
#shutdown_value: 0
#value:100
#cycle_time: 0.01

########################################
# TMC UART configuration
########################################

[tmc2209 stepper_x]
uart_pin: PE6
run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PE3
run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PB7
run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999

[tmc2209 stepper_z1]
uart_pin: PD0
run_current: 0.8
#hold_current: 0.5
#stealthchop_threshold: 999999

[tmc2209 extruder]
uart_pin: PD4
run_current: 0.6
#hold_current: 0.5
#stealthchop_threshold: 999999



########################################
# EXP1 / EXP2 (display) pins
########################################

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PB2,  EXP1_3=PE11, EXP1_5=PD9, EXP1_7=PE15, EXP1_9=<GND>,
    EXP1_2=PE10, EXP1_4=PD10, EXP1_6=PD8, EXP1_8=PE7,  EXP1_10=<5V>,
    # EXP2 header
    EXP2_1=PA6, EXP2_3=PE9, EXP2_5=PE8, EXP2_7=PB11,  EXP2_9=<GND>,
    EXP2_2=PA5, EXP2_4=PA4, EXP2_6=PA7, EXP2_8=<RST>, EXP2_10=<3.3v>
    # Pins EXP2_1, EXP2_6, EXP2_2 are also MISO, MOSI, SCK of bus "ssp1"

# See the MKS Lcd Config path file for definitions of common LCD displays.

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 22.623
#*# pid_ki = 1.639
#*# pid_kd = 78.050
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	0.059219, -0.049531, -0.142188, -0.085000, -0.079688
#*# 	-0.046953, 0.065859, 0.065547, 0.099531, 0.126094
#*# 	-0.054063, -0.070781, -0.158672, -0.123828, -0.090938
#*# x_count = 5
#*# y_count = 3
#*# mesh_x_pps = 2
#*# mesh_y_pps = 3
#*# algo = bicubic
#*# tension = 0.2
#*# min_x = 38.0
#*# max_x = 275.0
#*# min_y = 14.0
#*# max_y = 285.0
#*#
#*# [bltouch]
#*# z_offset = 3.300
